<!-- REF: http://stackoverflow.com/questions/35772414/angular-ui-bootstrap-carousel-not-working/35772695 -->
<!--      https://owlcation.com/stem/how-to-align-images-side-by-side -->

<div id="slides_control">
    <div id="displayBox" class="container">
        <uib-carousel class="item" interval="myInterval" active="activeSlide">
            <uib-slide ng-repeat="photo in photos" index="$index">
                <img ng-src="{{photo}}" style="margin:auto;">
            </uib-slide>
                <div class="carousel-caption">
                    <h4>{{activeHome.data.street}}</h4>
                </div>
        </uib-carousel>
    </div>
</div>