<div id="displayBox" class="container">
    <div class="item">
        <a ng-repeat="photo in photos"  href="{{photo}}"><img src="{{photo}}" height="290px" width="380px"></a>
        <p>{{activeHome.data.street}}</p>
    </div>
        
</div>



<div class="container">
		<img src="{{photo}}" width="50%" height="auto">
	<div class="item" ng-repeat="photo in photos">
		<img src="{{photo}}" width="50%" height="auto">
		<img src="{{photo}}" width="50%" height="auto">
	</div>
		<p>{{activeHome.data.street}}</p>
</div>
