
<div class="container">
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Housing type</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Sq.Footage</th>
        <th>Lot Size (Sq.Ft.)</th>
        <th>Year Built</th>
        <th>Number of floors</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{zillowResult.data.useCode}}</td>
        <td>{{zillowResult.data.bedrooms}}</td>
        <td>{{zillowResult.data.bathrooms}}</td>
        <td>{{zillowResult.data.finishedSqFoot}}</td>
        <td>{{zillowResult.data.totalSqFoot}}</td>
        <td>{{zillowResult.data.yearBuilt}}</td>
        <td>{{zillowResult.data.floors}}</td>
      </tr>
    </tbody>
  </table>
  </div>

<!-- div class="col-sm-4">
	<div class="well">
	
	
	
		<h4>Home description:</h4>
		<ul>
			<li>Single Family: {{zillowResult.data.useCode}}</li>
			<li>Bedrooms: {{zillowResult.data.bedrooms}}</li>
			<li>Bathroom: {{zillowResult.data.bathrooms}}</li>
			<li>Sq.Footage: {{zillowResult.data.finishedSqFoot}}</li>
			<li>Lot Size: {{zillowResult.data.lotSizeSqFoot}}</li>
			<li>Year Built: {{zillowResult.data.yearBuilt}}</li>
			<li>Number of Floors: {{zillowResult.data.floors}}</li>
			<li></li>
		</ul>
	</div>
</div> -->