
<div class="col-sm-4">
	<div class="well">
	
	<div id="locationField">
      <input id="autocomplete" placeholder="Enter your address"
             type="text"></input>
    </div>
	
		<p>Home description:</p>
		<ul>
			<li>Single Family: {{zillowResult.data.useCode}}</li>
			<li>Bedrooms: {{zillowResult.data.bedrooms}}</li>
			<li>Bathroom: {{zillowResult.data.bathrooms}}</li>
			<li>Sq.Footage: {{zillowResult.data.finishedSqFoot}}</li>
			<li>Lot Size: {{zillowResult.data.lotSizeSqFoot}}</li>
			<li>Year Built: {{zillowResult.data.yearBuilt}}</li>
			<li>Number of Floors: {{zillowResult.data.floors}}</li>
			<li></li>
		</ul>
	</div>
</div>