
<div class="container">
  <div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Housing type</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Sq.Footage</th>
        <th>Lot Size (Sq.Ft.)</th>
        <th>Year Built</th>
        <th>Number of floors</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{activeHome.data.useCode}}</td>
        <td>{{activeHome.data.bedrooms}}</td>
        <td>{{activeHome.data.bathrooms}}</td>
        <td>{{activeHome.data.finishedSqFoot}}</td>
        <td>{{activeHome.data.totalSqFoot}}</td>
        <td>{{activeHome.data.yearBuilt}}</td>
        <td>{{activeHome.data.floors}}</td>
      </tr>
    </tbody>
  </table>
  </div>
