<!-- Creates a nav bar across the site -->

<!-- <nav class="navbar navbar-inverse"  ng-controller="navController">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
      </button>
      <a href="#/user" class="navbar-brand glyphicon glyphicon-home" ng-show="isLoggedIn()"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/register" ng-hide="isLoggedIn()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#/login" ng-hide="isLoggedIn()"><span class="glyphicon glyphicon-log-out"></span> Login</a></li>
        <li><a ng-click="logOutUser()" ng-show="isLoggedIn()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav> -->

<!-- // nav.html -->

<nav class="navbar navbar-default navbar-inverse" ng-controller="navController" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
		<a class="navbar-brand" href="#" img src="./public/image/Logo.png">Perfect Home Logo</a>
		</div>
		<div class="collapse navbar-collapse" id="myNavbar">
		<a href="#/user" class="navbar-brand glyphicon glyphicon-home" ng-show="isLoggedIn()"></a>
			<ul class="nav navbar-nav navbar-right">
				<li ng-hide="isLoggedIn()"><p class="navbar-text">Already have an account?</p></li>
				<form class="navbar-form navbar-right" ng-hide="isLoggedIn()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" ng-model="user.username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="pwd" ng-model="user.password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="authenticate(user)">Sign In</button>
                </form>
			<<ul class="nav navbar-nav navbar-right">
        			<li><a href="#/register" ng-hide="isLoggedIn()"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        			<li><a ng-click="logOutUser()" ng-show="isLoggedIn()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      			</ul>
	
     
				
				
				<!-- <li class="dropdown">
				<a href=" " class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
					<ul id="login-dp" class="dropdown-menu">
						<li>
							<div class="row">
								<div class="col-md-12">
									<form class="form" role="form" method="post" action="login"
										accept-charset="UTF-8" id="login-nav">
										<div class="form-group">
											<label class="sr-only" for="userName">User Name</label> <input
												type="text" class="form-control" id="userName"
												placeholder="Enter User Name" required>
										</div>
										<div class="form-group">
											<label class="sr-only" for="password">Password</label> <input
												type="password" class="form-control" id="password"
												placeholder="Enter password" required>
											<div class="help-block text-right">
												<a href="">Forget the password ?</a>
											</div>
										</div>
										<div class="form-group">
											<button type="submit" class="btn btn-primary btn-block">Sign
												in</button>
										</div>
										<div class="checkbox">
											<label> <input type="checkbox"> keep me
												logged-in
											</label>
										</div>
									</form>
								</div>
								<div class="bottom text-center">
									New here ? <a href="#"><b>Join Us</b></a>
								</div>
							</div>
						</li>
					</ul>
				</li> -->
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container-fluid -->
</nav>




<!--<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>-->