<form class="form-horizontal">
	<div class="form-group">
		<label class="control-label col-sm-4" for="username">User name:</label>
		<div class="col-sm-6">
			<input type="username" class="form-control" id="username"
				placeholder="Enter your username" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4" for="pwd">Password:</label>
		<div class="col-sm-6">
			<input type="password" class="form-control" id="pwd"
				placeholder="Enter password" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4" for="first_name">First
			Name:</label>
		<div class="col-sm-6">
			<input type="first_name" class="form-control" id="first_name"
				placeholder="Enter your First Name" />
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-sm-4" for="last_name">Last
			Name:</label>
		<div class="col-sm-6">
			<input type="last_name" class="form-control" id="Last_name"
				placeholder="Enter your Last Name" />
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-4 col-sm-4">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
	</div>
</form>