<!-- table.html -->

<div class="container">
	<h2>User Stored Homes</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Home Address</th>
					<th>Ranking</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody ng-repeat="homes in user.data.homeUsers">
				<td>{{homes.homeAddress}}</td>
				<td>
				<div class="rating">
					<span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
				</div>
				</td>
				<td><button ng-click="removeHome(id)">Delete Home</button></td>
			</tbody>
		</table>
	</div>