<!-- table.html -->

<div class="container">
	<h2>User Stored Homes</h2>
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Home Address</th>
					<th>Ranking</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody ng-repeat="homes in user.data.homeUsers">
				<td>{{homes.homeAddress}}</td>
				<td>

					 <div ng-controller="RatingCtrl">	
			 			<div ng-init="rating = star.rating + 1"></div>
						<div class="star-rating" star-rating rating-value="homes.rating" data-max="5" on-rating-selected="rateFunction(rating); updateRating(rating, homes.id)"></div>
					</div>
				</td>
				<td><button ng-click="remove(homes.id)">Delete Home</button></td>
			</tbody>
		</table>
	</div>
</div>	