<!-- table.html -->

<div class="container">
<h2>User Stored Homes</h2>
  <div class="table-responsive">
  <table class="table table-striped ">
    <thead>
      <tr>
        <th>Housing type</th>
        <th>Bedrooms</th>
        <th>Bathrooms</th>
        <th>Sq.Footage</th>
        <th>Lot Size (Sq.Ft.)</th>
        <th>Year Built</th>
        <th>Number of floors</th>        
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{zillowResult.data.useCode}}</td>
        <td>{{zillowResult.data.bedrooms}}</td>
        <td>{{zillowResult.data.bathrooms}}</td>
        <td>{{zillowResult.data.finishedSqFoot}}</td>
        <td>{{zillowResult.data.totalSqFoot}}</td>
        <td>{{zillowResult.data.yearBuilt}}</td>
        <td>{{zillowResult.data.floors}}</td>
        <button ng-click="ranking()">Add home</button>
        <td>
        <button ng-click="addHome(newHome)">Add home</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>

<div id="ngApp" ng-controller="tableController">
        
        <div id="AddHome">
             <h3>Home listing</h3>
              
        </div>
        
        <!-- begin: LIST OF VISITED HOMES -->
        <div id="VisitedList">
             <h3>Visited Homes: {{getTotalVisitedHomes()}}</h3>
                    
             <h4>Visited:</h4>
            <table>
                <tr ng-repeat="home in homes" class="homes-checked">
                    <td> {{home.useCode}} {{home.bedrooms}} {{home.bathroom}} {{home.finishedSqFt}} {{home.yearBuilt}} {{home.numFloors}} 
                    <i>this home was visited.</i></td>
                </tr>
            </table>
        </div>
        <!-- end: LIST OF VISITED HOMES -->
        
        <!-- begin: LIST OF NOT VISITED HOMES -->
        <div id="NotVisited">
             <h3>Not Visited Homes: {{getTotalUnvisitedHomes()}}</h3>
             <h4>Not Visited Homes:</h4>
            <table>
                <tr ng-repeat="home in homes" class="homes-unchecked">
                    <td> {{home.useCode}} {{home.bedrooms}} {{home.bathroom}} {{home.finishedSqFt}} {{home.yearBuilt}} {{home.numFloors}} 
                    <i>this home has not been visited.</i></td>
                    <td>
                        <button ng-click="toggleChecked($index)">check home</button>
                    </td>
                </tr>
            </table>
        </div>
        <!-- end: LIST OF NOT VISITED HOMES -->
    <!--  </div> -->


  
 </div> 
  