<!-- login.view.html page-->

<header ng-include="'public/partials/nav.html'"></header>
<!-- <img class="img-responsive" src="./public/image/home.jpg" class="img-rounded" alt="home" width="100%" height="100%"> -->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="wrap">
				<p class="form-title">Login</p>
				<form class="login">
					<input id="username" ng-model="user.username" type="text" placeholder="Username" ng-required="true"/>
					<input id="pwd" ng-model="user.password" type="password" placeholder="Password" ng-required="true"/>
					<input ng-click="authenticate(user)" type="submit" value="Submit" class="btn btn-success btn-sm" />
				</form>
			</div>
		</div>
	</div>
</div>