<!DOCTYPE html>
<html ng-app="ngApp">
<head>
<title>Perfect Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="public/js/angular.min.js"></script>
  <script src="public/js/angular-route.min.js"></script>
  <script src="public/js/jquery.js"></script>
  <script src="public/js/jquery-ui.min.js"></script>
  <script src="public/js/tabulator.js"></script>
  
  <script src='public/js/jquery.min.js' type='text/javascript'></script>
  <script src='public/js/jquery.cloudinary.js' type='text/javascript'></script>
  <script src='public/js/jquery.ui.widget.js' type='text/javascript'></script>
  <script src='public/js/jquery.iframe-transport.js' type='text/javascript'></script>
  <script src='public/js/jquery.fileupload.js' type='text/javascript'></script>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
    
  <script src='public/js/bootstrap.min.js' type='text/javascript'></script>
  
<script src="app_client/ngApp.js" type="text/javascript"></script>
<script src="app_client/controllers/welcomeController.js" type="text/javascript"></script>
<script src="app_client/controllers/userController.js" type="text/javascript"></script>
<script src="app_client/controllers/navController.js" type="text/javascript"></script>
<script src="app_client/controllers/footerController.js" type="text/javascript"></script>
<script src="app_client/controllers/loginController.js" type="text/javascript"></script>
<script src="app_client/controllers/registerController.js" type="text/javascript"></script>

<script src="app_client/services/authenticationService.js" type="text/javascript"></script>
<script src="app_client/services/registrationService.js" type="text/javascript"></script>
<script src="app_client/services/dataService.js" type="text/javascript"></script>
<script src="app_client/services/todoService.js" type="text/javascript"></script>
<script src="app_client/services/userService.js" type="text/javascript"></script>


<link rel="stylesheet" href="public/css/bootstrap.min.css">
<link rel="stylesheet" href="public/css/stylesheet.css">
</head>
<body>
	<div ng-view></div>
</body>
</html>